*{
  margin: 0;
  padding: 0;
}


.id {
    max-width: 1140;
    margin: 0 auto ;
}



.eq {

    list-style: none;
    width: 100%;
}
.eq li{
   width: 20%;
   display: block;
   float: left;
}

